* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; 
  align-items: center;    
  overflow: hidden;
  position: relative;
}

.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.v91_57 {
  position: relative;
  width: 600px; 
  height: 800px; 
  transform-origin: center center;
}

.v91_102 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.v91_91 {
  width: 350px;
  height: 347px;
  background: url("../images/v91_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 572px;
  left: 242px;
  transform: rotate(-173deg);
  overflow: hidden;
}

.v91_64 {
  width: 333px;
  height: 333px;
  background: url("../images/v91_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 367px;
  overflow: hidden;
}

.v91_65 {
  width: 237px;
  height: 144px;
  background: url("../images/v91_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 61px;
  overflow: hidden;
}

.v91_115 {
  width: 495px;
  color: #F2B456;
  position: absolute;
  top: 90px;
  left: 94px;
  font-family: 'Titan One', cursive;
  font-size: 67px; 
  text-align: left;
}

.v91_116 {
  width: 495px;
  color: #70ADF1;
  position: absolute;
  top: 157px; 
  left: 94px;
  font-family: 'Titan One', cursive;
  font-size: 67px; 
  text-align: left;
}

.v91_127 {
  width: 495px;
  color: url("../images/v91_127.png");
  position: absolute;
  top: 88px;
  left: 94px;
  font-family: Titan One;
  font-weight: Regular;
  font-size: 67px; 
  opacity: 1;
  text-align: left;
}

.v91_122 {
  width: 567px;
  height: 501px;
  background: url("../images/v91_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 335px;
  left: 15px;
  overflow: hidden;
}

.v91_124 {
  width: 282px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 262px;
  left: 201px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 22px; 
  opacity: 1;
  text-align: justified;
}

.v91_118 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 280px; 
  height: 68px;
  background: rgba(255, 193, 7, 0.92);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 675px;
  left: 227px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.2s ease;
}

.v91_118:hover {
  transform: scale(1.05);
}

.v91_119 {
  color: rgba(18, 45, 105, 1);
  font-family: Poppins;
  font-weight: bold;
  font-size: 33px;
  text-align: center;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {

    body {
        overflow: none; 
    }

    .v91_57 {
        transform: scale(1.45);       
        width: 600px;
        height: 800px;
        margin-top: 20px;              
    }

    .v91_115, .v91_116 {
        font-size: 70px;              
        left: 55px;                    
    }

    .v91_124 {
        font-size: 28px;
        width: 80%;
        left: 100px;
        top: 290px;
    }

    .v91_118 {
        width: 330px; 
        height: 80px;
        top: 680px;
        left: 160px;
    }

    .v91_119 {
        font-size: 38px;
    }

    .v91_122 {
        width: 600px;
        height: 550px;
        top: 360px;
        left: 0px;
        background-size: contain;
    }

    .v91_64,
    .v91_65,
    .v91_91 {
        transform: scale(1.25);
    }
}

