<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Titan+One&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
        <title>Laundrylink</title>
    </head>
    <body>
        <div class="page-wrapper">
            <div class="v91_57">
            <div class="v91_102"></div>
            <div class="v91_91"></div>
            <div class="v91_64"></div>
            <div class="v91_65"></div>
            <span class="v91_115">WELCOME TO</span>
            <div class="v91_65"></div>
            <span class="v91_116">LAUNDRYLINK</span>
            <div class="v91_122"></div>
            <span class="v91_124">Laundry day, made easy.</span>
            <a href="{{ url_for('service_type') }}" class="v91_118">
                <span class="v91_119">START</span>
            </a>
            </div>
        </div>
    </body>
</html>